* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.box1 {
    background-image: url(img/box1.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box2 {
    background-image: url(img/box2.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box3 {
    background-image: url(img/box3.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

.box4 {
    background-image: url(img/box4.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}